﻿<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="Base.master" CodeBehind="Default.aspx.cs" Inherits="WebConsumer.Default" %>

<asp:Content ContentPlaceHolderID="body" ID="body" runat="server">
    <h1>Hello</h1>
    <asp:Label ID="lbltest" runat="server" Text="Title: "/>
    <asp:TextBox ID="tbTitle" runat="server"/>
    <asp:Label runat="server" Text="Year: "/>
    <asp:TextBox ID="tbYear" runat="server"/>
    <asp:Label runat="server" Text="Price: "/>
    <asp:TextBox ID="tbPrice" runat="server"/>
    <asp:Button ID="btnSubmit" Text="Submit" runat="server" OnClick="btnSubmit_OnClick" />
</asp:Content>
