div#bodyContent {
    margin-top: 100px;
    height: 80vh;
}

div#bodyContent button, div#bodyContent input {
    border-radius: 0;
    margin-bottom: 20px;
}

.btn-lg.btn-info.center-block {
    width: 50%;
    height: 8%;
}

.alert.alert-danger {
    text-align: center;
}

table#flightsTable {
    margin-top: 100px;
}

div#buttonContainer {
    margin-top: 200px;
}
.invisible{
    display:none;
}
#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(235, 235, 235, 1);
}

#custom-bootstrap-menu.navbar-default {
    font-size: 14px;
    background-color: rgba(44, 62, 80, 1);
    border-bottom-width: 0px;
}

#custom-bootstrap-menu.navbar-default .navbar-nav > li > a {
    color: rgba(230, 230, 230, 1);
    background-color: rgba(44, 62, 80, 1);
}

#custom-bootstrap-menu.navbar-default .navbar-nav > li > a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav > li > a:focus {
    color: rgba(235, 235, 235, 1);
    background-color: rgba(58, 85, 112, 1);
}

#custom-bootstrap-menu.navbar-default .navbar-nav > .active > a,
#custom-bootstrap-menu.navbar-default .navbar-nav > .active > a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav > .active > a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(38, 54, 71, 1);
}

#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #263647;
}

#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #263647;
}

#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #263647;
}

#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #32475b;
}